~misc/ibaoTest/Web References/com/v8server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://vubiz.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vubiz.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vubiz.com/">
      <s:element name="autoEnroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membMemo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autoEnrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autoEnrollResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autoSignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custAcctId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autoSignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autoSignInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ssoMembId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ssoMembIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssoMembIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ssoMembNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="membNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ssoMembNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssoMembNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfibAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membEmailEncrypted" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membPasswordEncrypted" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfibAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cfibAuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfibEnroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membOrganization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfibEnrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cfibEnrollResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfibIsMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membOrganization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfibIsMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cfibIsMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membOrganization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enrollResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ibaoEnroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ibaoEnrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ibaoEnrollResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ibaoIsMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ibaoIsMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ibaoIsMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="profiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="profilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phrase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="translateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translateUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phraseIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phraseEx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="translateUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="translateUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ecommerceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cust" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ecommerceReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ecommerceReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="learnerReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="learnerReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="learnerReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="learnerActivityReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="completed" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="guests" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="learnerActivityReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="learnerActivityReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="programActivityDetailsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="programActivityDetailsReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="programActivityDetailsReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="autoEnrollSoapIn">
    <wsdl:part name="parameters" element="tns:autoEnroll" />
  </wsdl:message>
  <wsdl:message name="autoEnrollSoapOut">
    <wsdl:part name="parameters" element="tns:autoEnrollResponse" />
  </wsdl:message>
  <wsdl:message name="autoSignInSoapIn">
    <wsdl:part name="parameters" element="tns:autoSignIn" />
  </wsdl:message>
  <wsdl:message name="autoSignInSoapOut">
    <wsdl:part name="parameters" element="tns:autoSignInResponse" />
  </wsdl:message>
  <wsdl:message name="ssoMembIdSoapIn">
    <wsdl:part name="parameters" element="tns:ssoMembId" />
  </wsdl:message>
  <wsdl:message name="ssoMembIdSoapOut">
    <wsdl:part name="parameters" element="tns:ssoMembIdResponse" />
  </wsdl:message>
  <wsdl:message name="ssoMembNoSoapIn">
    <wsdl:part name="parameters" element="tns:ssoMembNo" />
  </wsdl:message>
  <wsdl:message name="ssoMembNoSoapOut">
    <wsdl:part name="parameters" element="tns:ssoMembNoResponse" />
  </wsdl:message>
  <wsdl:message name="cfibAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:cfibAuthenticate" />
  </wsdl:message>
  <wsdl:message name="cfibAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:cfibAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="cfibEnrollSoapIn">
    <wsdl:part name="parameters" element="tns:cfibEnroll" />
  </wsdl:message>
  <wsdl:message name="cfibEnrollSoapOut">
    <wsdl:part name="parameters" element="tns:cfibEnrollResponse" />
  </wsdl:message>
  <wsdl:message name="cfibIsMemberSoapIn">
    <wsdl:part name="parameters" element="tns:cfibIsMember" />
  </wsdl:message>
  <wsdl:message name="cfibIsMemberSoapOut">
    <wsdl:part name="parameters" element="tns:cfibIsMemberResponse" />
  </wsdl:message>
  <wsdl:message name="enrollSoapIn">
    <wsdl:part name="parameters" element="tns:enroll" />
  </wsdl:message>
  <wsdl:message name="enrollSoapOut">
    <wsdl:part name="parameters" element="tns:enrollResponse" />
  </wsdl:message>
  <wsdl:message name="ibaoEnrollSoapIn">
    <wsdl:part name="parameters" element="tns:ibaoEnroll" />
  </wsdl:message>
  <wsdl:message name="ibaoEnrollSoapOut">
    <wsdl:part name="parameters" element="tns:ibaoEnrollResponse" />
  </wsdl:message>
  <wsdl:message name="ibaoIsMemberSoapIn">
    <wsdl:part name="parameters" element="tns:ibaoIsMember" />
  </wsdl:message>
  <wsdl:message name="ibaoIsMemberSoapOut">
    <wsdl:part name="parameters" element="tns:ibaoIsMemberResponse" />
  </wsdl:message>
  <wsdl:message name="profilesSoapIn">
    <wsdl:part name="parameters" element="tns:profiles" />
  </wsdl:message>
  <wsdl:message name="profilesSoapOut">
    <wsdl:part name="parameters" element="tns:profilesResponse" />
  </wsdl:message>
  <wsdl:message name="translateSoapIn">
    <wsdl:part name="parameters" element="tns:translate" />
  </wsdl:message>
  <wsdl:message name="translateSoapOut">
    <wsdl:part name="parameters" element="tns:translateResponse" />
  </wsdl:message>
  <wsdl:message name="translateUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:translateUpdate" />
  </wsdl:message>
  <wsdl:message name="translateUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:translateUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ecommerceReportSoapIn">
    <wsdl:part name="parameters" element="tns:ecommerceReport" />
  </wsdl:message>
  <wsdl:message name="ecommerceReportSoapOut">
    <wsdl:part name="parameters" element="tns:ecommerceReportResponse" />
  </wsdl:message>
  <wsdl:message name="learnerReportSoapIn">
    <wsdl:part name="parameters" element="tns:learnerReport" />
  </wsdl:message>
  <wsdl:message name="learnerReportSoapOut">
    <wsdl:part name="parameters" element="tns:learnerReportResponse" />
  </wsdl:message>
  <wsdl:message name="learnerActivityReportSoapIn">
    <wsdl:part name="parameters" element="tns:learnerActivityReport" />
  </wsdl:message>
  <wsdl:message name="learnerActivityReportSoapOut">
    <wsdl:part name="parameters" element="tns:learnerActivityReportResponse" />
  </wsdl:message>
  <wsdl:message name="programActivityDetailsReportSoapIn">
    <wsdl:part name="parameters" element="tns:programActivityDetailsReport" />
  </wsdl:message>
  <wsdl:message name="programActivityDetailsReportSoapOut">
    <wsdl:part name="parameters" element="tns:programActivityDetailsReportResponse" />
  </wsdl:message>
  <wsdl:message name="autoEnrollHttpGetIn">
    <wsdl:part name="custGuid" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autoEnrollHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="autoSignInHttpGetIn">
    <wsdl:part name="custAcctId" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autoSignInHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembIdHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembNoHttpGetIn">
    <wsdl:part name="membNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cfibAuthenticateHttpGetIn">
    <wsdl:part name="profile" type="s:string" />
    <wsdl:part name="membEmailEncrypted" type="s:string" />
    <wsdl:part name="membPasswordEncrypted" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cfibAuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cfibEnrollHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membPassword" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membOrganization" type="s:string" />
    <wsdl:part name="membType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cfibEnrollHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cfibIsMemberHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membOrganization" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cfibIsMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="enrollHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membPassword" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membOrganization" type="s:string" />
  </wsdl:message>
  <wsdl:message name="enrollHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ibaoEnrollHttpGetIn">
    <wsdl:part name="custGuid" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ibaoEnrollHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ibaoIsMemberHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ibaoIsMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="profilesHttpGetIn">
    <wsdl:part name="alias" type="s:string" />
  </wsdl:message>
  <wsdl:message name="profilesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="translateHttpGetIn">
    <wsdl:part name="phrase" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
  </wsdl:message>
  <wsdl:message name="translateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="translateUpdateHttpGetIn">
    <wsdl:part name="phraseIn" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="phraseEx" type="s:string" />
  </wsdl:message>
  <wsdl:message name="translateUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ecommerceReportHttpGetIn">
    <wsdl:part name="cust" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ecommerceReportHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="learnerReportHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="learnerReportHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="learnerActivityReportHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="completed" type="s:string" />
    <wsdl:part name="guests" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="learnerActivityReportHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="programActivityDetailsReportHttpGetIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="programActivityDetailsReportHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="autoEnrollHttpPostIn">
    <wsdl:part name="custGuid" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membMemo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autoEnrollHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="autoSignInHttpPostIn">
    <wsdl:part name="custAcctId" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autoSignInHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembIdHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembNoHttpPostIn">
    <wsdl:part name="membNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ssoMembNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cfibAuthenticateHttpPostIn">
    <wsdl:part name="profile" type="s:string" />
    <wsdl:part name="membEmailEncrypted" type="s:string" />
    <wsdl:part name="membPasswordEncrypted" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cfibAuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cfibEnrollHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membPassword" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membOrganization" type="s:string" />
    <wsdl:part name="membType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cfibEnrollHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cfibIsMemberHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membOrganization" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cfibIsMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="enrollHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membPassword" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membOrganization" type="s:string" />
  </wsdl:message>
  <wsdl:message name="enrollHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ibaoEnrollHttpPostIn">
    <wsdl:part name="custGuid" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membFirstName" type="s:string" />
    <wsdl:part name="membLastName" type="s:string" />
    <wsdl:part name="membEmail" type="s:string" />
    <wsdl:part name="membType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ibaoEnrollHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ibaoIsMemberHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ibaoIsMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="profilesHttpPostIn">
    <wsdl:part name="alias" type="s:string" />
  </wsdl:message>
  <wsdl:message name="profilesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="translateHttpPostIn">
    <wsdl:part name="phrase" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
  </wsdl:message>
  <wsdl:message name="translateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="translateUpdateHttpPostIn">
    <wsdl:part name="phraseIn" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="phraseEx" type="s:string" />
  </wsdl:message>
  <wsdl:message name="translateUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ecommerceReportHttpPostIn">
    <wsdl:part name="cust" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ecommerceReportHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="learnerReportHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="learnerReportHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="learnerActivityReportHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="completed" type="s:string" />
    <wsdl:part name="guests" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="learnerActivityReportHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="programActivityDetailsReportHttpPostIn">
    <wsdl:part name="custId" type="s:string" />
    <wsdl:part name="strDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
    <wsdl:part name="membId" type="s:string" />
    <wsdl:part name="membNo" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="programActivityDetailsReportHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="v8serverSoap">
    <wsdl:operation name="autoEnroll">
      <wsdl:input message="tns:autoEnrollSoapIn" />
      <wsdl:output message="tns:autoEnrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <wsdl:input message="tns:autoSignInSoapIn" />
      <wsdl:output message="tns:autoSignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <wsdl:input message="tns:ssoMembIdSoapIn" />
      <wsdl:output message="tns:ssoMembIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <wsdl:input message="tns:ssoMembNoSoapIn" />
      <wsdl:output message="tns:ssoMembNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <wsdl:input message="tns:cfibAuthenticateSoapIn" />
      <wsdl:output message="tns:cfibAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <wsdl:input message="tns:cfibEnrollSoapIn" />
      <wsdl:output message="tns:cfibEnrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <wsdl:input message="tns:cfibIsMemberSoapIn" />
      <wsdl:output message="tns:cfibIsMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <wsdl:input message="tns:enrollSoapIn" />
      <wsdl:output message="tns:enrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <wsdl:input message="tns:ibaoEnrollSoapIn" />
      <wsdl:output message="tns:ibaoEnrollSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <wsdl:input message="tns:ibaoIsMemberSoapIn" />
      <wsdl:output message="tns:ibaoIsMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <wsdl:input message="tns:profilesSoapIn" />
      <wsdl:output message="tns:profilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="translate">
      <wsdl:input message="tns:translateSoapIn" />
      <wsdl:output message="tns:translateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <wsdl:input message="tns:translateUpdateSoapIn" />
      <wsdl:output message="tns:translateUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <wsdl:input message="tns:ecommerceReportSoapIn" />
      <wsdl:output message="tns:ecommerceReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <wsdl:input message="tns:learnerReportSoapIn" />
      <wsdl:output message="tns:learnerReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <wsdl:input message="tns:learnerActivityReportSoapIn" />
      <wsdl:output message="tns:learnerActivityReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <wsdl:input message="tns:programActivityDetailsReportSoapIn" />
      <wsdl:output message="tns:programActivityDetailsReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="v8serverHttpGet">
    <wsdl:operation name="autoEnroll">
      <wsdl:input message="tns:autoEnrollHttpGetIn" />
      <wsdl:output message="tns:autoEnrollHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <wsdl:input message="tns:autoSignInHttpGetIn" />
      <wsdl:output message="tns:autoSignInHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <wsdl:input message="tns:ssoMembIdHttpGetIn" />
      <wsdl:output message="tns:ssoMembIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <wsdl:input message="tns:ssoMembNoHttpGetIn" />
      <wsdl:output message="tns:ssoMembNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <wsdl:input message="tns:cfibAuthenticateHttpGetIn" />
      <wsdl:output message="tns:cfibAuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <wsdl:input message="tns:cfibEnrollHttpGetIn" />
      <wsdl:output message="tns:cfibEnrollHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <wsdl:input message="tns:cfibIsMemberHttpGetIn" />
      <wsdl:output message="tns:cfibIsMemberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <wsdl:input message="tns:enrollHttpGetIn" />
      <wsdl:output message="tns:enrollHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <wsdl:input message="tns:ibaoEnrollHttpGetIn" />
      <wsdl:output message="tns:ibaoEnrollHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <wsdl:input message="tns:ibaoIsMemberHttpGetIn" />
      <wsdl:output message="tns:ibaoIsMemberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <wsdl:input message="tns:profilesHttpGetIn" />
      <wsdl:output message="tns:profilesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="translate">
      <wsdl:input message="tns:translateHttpGetIn" />
      <wsdl:output message="tns:translateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <wsdl:input message="tns:translateUpdateHttpGetIn" />
      <wsdl:output message="tns:translateUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <wsdl:input message="tns:ecommerceReportHttpGetIn" />
      <wsdl:output message="tns:ecommerceReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <wsdl:input message="tns:learnerReportHttpGetIn" />
      <wsdl:output message="tns:learnerReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <wsdl:input message="tns:learnerActivityReportHttpGetIn" />
      <wsdl:output message="tns:learnerActivityReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <wsdl:input message="tns:programActivityDetailsReportHttpGetIn" />
      <wsdl:output message="tns:programActivityDetailsReportHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="v8serverHttpPost">
    <wsdl:operation name="autoEnroll">
      <wsdl:input message="tns:autoEnrollHttpPostIn" />
      <wsdl:output message="tns:autoEnrollHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <wsdl:input message="tns:autoSignInHttpPostIn" />
      <wsdl:output message="tns:autoSignInHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <wsdl:input message="tns:ssoMembIdHttpPostIn" />
      <wsdl:output message="tns:ssoMembIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <wsdl:input message="tns:ssoMembNoHttpPostIn" />
      <wsdl:output message="tns:ssoMembNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <wsdl:input message="tns:cfibAuthenticateHttpPostIn" />
      <wsdl:output message="tns:cfibAuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <wsdl:input message="tns:cfibEnrollHttpPostIn" />
      <wsdl:output message="tns:cfibEnrollHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <wsdl:input message="tns:cfibIsMemberHttpPostIn" />
      <wsdl:output message="tns:cfibIsMemberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <wsdl:input message="tns:enrollHttpPostIn" />
      <wsdl:output message="tns:enrollHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <wsdl:input message="tns:ibaoEnrollHttpPostIn" />
      <wsdl:output message="tns:ibaoEnrollHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <wsdl:input message="tns:ibaoIsMemberHttpPostIn" />
      <wsdl:output message="tns:ibaoIsMemberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <wsdl:input message="tns:profilesHttpPostIn" />
      <wsdl:output message="tns:profilesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="translate">
      <wsdl:input message="tns:translateHttpPostIn" />
      <wsdl:output message="tns:translateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <wsdl:input message="tns:translateUpdateHttpPostIn" />
      <wsdl:output message="tns:translateUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <wsdl:input message="tns:ecommerceReportHttpPostIn" />
      <wsdl:output message="tns:ecommerceReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <wsdl:input message="tns:learnerReportHttpPostIn" />
      <wsdl:output message="tns:learnerReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <wsdl:input message="tns:learnerActivityReportHttpPostIn" />
      <wsdl:output message="tns:learnerActivityReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <wsdl:input message="tns:programActivityDetailsReportHttpPostIn" />
      <wsdl:output message="tns:programActivityDetailsReportHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="v8serverSoap" type="tns:v8serverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autoEnroll">
      <soap:operation soapAction="http://vubiz.com/autoEnroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <soap:operation soapAction="http://vubiz.com/autoSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <soap:operation soapAction="http://vubiz.com/ssoMembId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <soap:operation soapAction="http://vubiz.com/ssoMembNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <soap:operation soapAction="http://vubiz.com/cfibAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <soap:operation soapAction="http://vubiz.com/cfibEnroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <soap:operation soapAction="http://vubiz.com/cfibIsMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <soap:operation soapAction="http://vubiz.com/enroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <soap:operation soapAction="http://vubiz.com/ibaoEnroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <soap:operation soapAction="http://vubiz.com/ibaoIsMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <soap:operation soapAction="http://vubiz.com/profiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translate">
      <soap:operation soapAction="http://vubiz.com/translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <soap:operation soapAction="http://vubiz.com/translateUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <soap:operation soapAction="http://vubiz.com/ecommerceReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <soap:operation soapAction="http://vubiz.com/learnerReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <soap:operation soapAction="http://vubiz.com/learnerActivityReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <soap:operation soapAction="http://vubiz.com/programActivityDetailsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="v8serverSoap12" type="tns:v8serverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autoEnroll">
      <soap12:operation soapAction="http://vubiz.com/autoEnroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <soap12:operation soapAction="http://vubiz.com/autoSignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <soap12:operation soapAction="http://vubiz.com/ssoMembId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <soap12:operation soapAction="http://vubiz.com/ssoMembNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <soap12:operation soapAction="http://vubiz.com/cfibAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <soap12:operation soapAction="http://vubiz.com/cfibEnroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <soap12:operation soapAction="http://vubiz.com/cfibIsMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <soap12:operation soapAction="http://vubiz.com/enroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <soap12:operation soapAction="http://vubiz.com/ibaoEnroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <soap12:operation soapAction="http://vubiz.com/ibaoIsMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <soap12:operation soapAction="http://vubiz.com/profiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translate">
      <soap12:operation soapAction="http://vubiz.com/translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <soap12:operation soapAction="http://vubiz.com/translateUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <soap12:operation soapAction="http://vubiz.com/ecommerceReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <soap12:operation soapAction="http://vubiz.com/learnerReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <soap12:operation soapAction="http://vubiz.com/learnerActivityReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <soap12:operation soapAction="http://vubiz.com/programActivityDetailsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="v8serverHttpGet" type="tns:v8serverHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="autoEnroll">
      <http:operation location="/autoEnroll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <http:operation location="/autoSignIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <http:operation location="/ssoMembId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <http:operation location="/ssoMembNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <http:operation location="/cfibAuthenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <http:operation location="/cfibEnroll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <http:operation location="/cfibIsMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <http:operation location="/enroll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <http:operation location="/ibaoEnroll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <http:operation location="/ibaoIsMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <http:operation location="/profiles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translate">
      <http:operation location="/translate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <http:operation location="/translateUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <http:operation location="/ecommerceReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <http:operation location="/learnerReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <http:operation location="/learnerActivityReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <http:operation location="/programActivityDetailsReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="v8serverHttpPost" type="tns:v8serverHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="autoEnroll">
      <http:operation location="/autoEnroll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoSignIn">
      <http:operation location="/autoSignIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembId">
      <http:operation location="/ssoMembId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoMembNo">
      <http:operation location="/ssoMembNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibAuthenticate">
      <http:operation location="/cfibAuthenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibEnroll">
      <http:operation location="/cfibEnroll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfibIsMember">
      <http:operation location="/cfibIsMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enroll">
      <http:operation location="/enroll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoEnroll">
      <http:operation location="/ibaoEnroll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ibaoIsMember">
      <http:operation location="/ibaoIsMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profiles">
      <http:operation location="/profiles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translate">
      <http:operation location="/translate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translateUpdate">
      <http:operation location="/translateUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ecommerceReport">
      <http:operation location="/ecommerceReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerReport">
      <http:operation location="/learnerReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="learnerActivityReport">
      <http:operation location="/learnerActivityReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="programActivityDetailsReport">
      <http:operation location="/programActivityDetailsReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="v8server">
    <wsdl:port name="v8serverSoap" binding="tns:v8serverSoap">
      <soap:address location="http://localhost/vubizWs/v8server.asmx" />
    </wsdl:port>
    <wsdl:port name="v8serverSoap12" binding="tns:v8serverSoap12">
      <soap12:address location="http://localhost/vubizWs/v8server.asmx" />
    </wsdl:port>
    <wsdl:port name="v8serverHttpGet" binding="tns:v8serverHttpGet">
      <http:address location="http://localhost/vubizWs/v8server.asmx" />
    </wsdl:port>
    <wsdl:port name="v8serverHttpPost" binding="tns:v8serverHttpPost">
      <http:address location="http://localhost/vubizWs/v8server.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>